
.shipBlock{
    width: 40px;
    height: 40px;
    background-color: black;
    cursor:pointer;
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fullShip{
    display: flex;
}

.hole{
    width: 10px;
    height:10px;
    border-radius: 50%;
    background-color: white;
}

.shipBlock:first-child {
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
}

.shipBlock:last-child {
    border-top-right-radius: 80%;
    border-bottom-right-radius: 80%;
}

.fullShip.active .shipBlock {
    background-color: red;
}

